div {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}
#div1 {
  background: aqua;
}
#div2 {
  background: grey;
}
#div3 {
  background: yellow;
}
#div4 {
  background: greenyellow;
}
#div5 {
  background: pink;
}
#div6{
  background: orangered;
}
#container{
  border: 1px solid black;
  width: 900px;
  height: 200px;
  display: flex;
  background-color: beige;
  place-content: center;
  place-items: center;
}