body {
    font-family: Arial, sans-serif;
    background-color:aliceblue;
    margin: 50px;
    padding: 20px;
}

h1 {
    color: brown;
}

p {
    color: blueviolet;
}

.teste {
    color:  rgb(0, 102, 255);
}

#lista {
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}