body {
    font-family: Arial, sans-serif;
    background-color:aliceblue;
}

h1 {
    color: brown;
}

p {
    color: blueviolet;
}

.teste {
    color:  rgb(0, 102, 255);
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr ); 
    gap: 10px;
}

#lista {
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}